
@{
    ViewBag.Title = "Sepet";
}

<div class="container my-5">
    <h2 class="text-center text-white mb-5">Alışverişi Tamamlayın</h2>
    <table class="table text-white">
        <thead>
            <tr>
                <th scope="col">Ürün</th>
                <th scope="col">Fiyat</th>
                <th scope="col">Adet</th>
                <th scope="col">Toplam</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"><img width="100px" src="~/KOUZON/img/app.dark.png" alt="" srcset=""></th>
                <td>399.75 TL</td>
                <td>1</td>
                <td>399.75 TL</td>
            </tr>
            <tr>
                <th scope="row"><img width="100px" src="~/KOUZON/img/app.dark.png" alt="" srcset=""></th>
                <td>399.75 TL</td>
                <td>1</td>
                <td>399.75 TL</td>
            </tr>
            <tr>
                <th scope="row"><img width="100px" src="~/KOUZON/img/app.dark.png" alt="" srcset=""></th>
                <td>399.75 TL</td>
                <td>1</td>
                <td>399.75 TL</td>
            </tr>
        </tbody>
    </table>
    <h4 class="text-right text-white">Genel Toplam: <span class="font-weight-light">1249.99 TL</span><a href="#" class="ml-3 btn btn-success">Ödeme Yap</a></h4>

</div>
