
@{
    ViewBag.Title = "Completed";
}


<div class="container my-5">
    <h2 class="text-center text-white">Siparişiniz alındı.</h2>
    <div class="container text-center text-green mt-5">
        <i class="fa-solid fa-circle-check fa-10x"></i>
    </div>
    <div class="container mt-3">
        <p class="text-center text-white">Siparişinizin detayları E-Posta'nıza gönderilecektir.</p><br>
        <p class="text-center text-white">İyi günlerde kullanın.</p>
    </div>
</div>