@using Kouzon_E_Ticaret.Controllers
@model Kouzon_E_Ticaret.Models.Cart
<li class="nav-item ml-3">
    <a class="nav-link text-white text-center" href="/Cart"><i class="fa-solid fa-basket-shopping"></i><br> Sepetim (@Model.CartLines.Count)</a>
</li>

